html, body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
}
*{
    box-sizing: border-box;
}
header{
    background-image: url("images/header.png");
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 3em;
}
#search-bar{
    position: absolute;
    display: flex;
    top: 23vh;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    display: flex;
    min-width: 462px;
    height: 2.4375em;
    max-width: 600px;
    border-radius: 0.5em;
    background-color: #2E2E2F;
    padding: 0 0 0 10px;
}
form>img{
    align-self: center;
    width: 1.25em;
    height: 1.25em;
    margin-right: 10px;
}
form>input{
    border: none;
    color: #A5A5A5;
    background-color: #2E2E2F;
    flex-grow: 1;
}
form>button{
    color: #FFFFFF;
    background: #4B4B4B;
    width: 120px;
    height: 100%;
    flex-grow: 1;
    max-width: 120px;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border: none;
}
#content-section{
    width: 100%;
    min-height: 779px;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}
#page-btn-section{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}