html, body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    font-family: 'Inter', sans-serif;
}
*{
    box-sizing: border-box;
}
header{
    background-image: url("images/header.png");
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 3em;
}
header>h1{
    font-weight: 800;
    font-size: 2.625rem;
}
header>p{
    font-weight: 700;
    font-size: 0.875rem;
}
#search-bar{
    font-size: 0.875rem;
    font-weight: 500;
    position: absolute;
    display: flex;
    top: 23vh;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    display: flex;
    min-width: 462px;
    height: 2.4375em;
    max-width: 600px;
    border-radius: 0.5em;
    background-color: #2E2E2F;
    padding: 0 0 0 10px;
}
form>img{
    align-self: center;
    width: 1.25em;
    height: 1.25em;
    margin-right: 10px;
}
form>input{
    border: none;
    color: #A5A5A5;
    background-color: #2E2E2F;
    flex-grow: 1;
}
form>button{
    color: #FFFFFF;
    background: #4B4B4B;
    width: 120px;
    height: 100%;
    flex-grow: 1;
    max-width: 120px;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border: none;
}
#content-section{
    width: 100%;
    min-height: 779px;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.movie-entry {
    padding-bottom: 2em;
    margin-top: 3.125em;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF;
    gap: 1em;
}
.movie-entry>img{
    align-self: center;
    height: fit-content;
    width: 9.375em;
}
.movie-info{
    display: block;
    width: 21.375em;
}
.title-and-rating>h1{
    font-weight: 500;
    font-size: 1.125rem;
}
.movie-rating, .runtime-genres-btn{
    font-weight: 400;
    font-size: 0.75rem;
}
.plot{
    font-weight: 400;
    font-size: 0.875rem;
    color: #A5A5A5;
}
.title-and-rating,
.runtime-genres-btn,
.movie-rating,
.add-btn{
    justify-content: space-between;
    align-self: center;
    display: flex;
}
.add-btn>img,
.movie-rating>img{
    align-self: center;
    width: 1em;
    height: 1em;
}